body 
{
  box-sizing: border-box;
  color: #373737;
  background-color: #b9090b;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#heading
{
	text-align: center;
}

#content
{
	position: relative;
	width: 950px;
	left: 50%;
	margin-left: -475px;
}

#footer
{
	position: absolute;
	bottom: 0;
	background-color: #dddddd;
	width: 950px;
	height: 50px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: -475px;
	left: 50%;
	padding-top: 25px;
}

#sample-message
{
	position: absolute;
	display: none;
	color: #b9090b;
	font-size: 150px;
	text-align: center;
	font-weight: bold;
	left: 50%;
	top: 40%;
	margin-left: -225px;
	z-index: 100;
	text-shadow: 2px 2px #000000;
	-webkit-transform: rotate(22deg);
}
